/* Importações */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(reset.css);
@import url(layout.css);

/* Variáveis de Cor */
:root {
    --cor-primaria: #000;
    --cor-secundaria: #fff;
    --cor-acento: #666;
    --cor-texto: ;
    --cor-fundo: ;
}

/* --------------- Início --------------- */
* {
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    padding: 0 .5rem;
}

header a {
    text-decoration: none;
    color: var(--cor-secundaria);
}

header nav a {
    text-decoration: none;
    margin-left: .5rem;
    border: 1px solid var(--cor-secundaria);
    padding: .5rem;
    font-weight: bold;
    border-radius: 8px;
    color: var(--cor-secundaria);
    transition: .5s;
}

header nav a:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    transition: .5s;
}

header ul {
    display: flex;
    list-style: none;
    flex-direction: row;
}

/* --------------- Principal --------------- */
.about-us {
    display: flex;
    flex-direction: row;
    padding: 1rem .5rem;
}

.about-content {
    margin: 0 .5rem ;
}

/* Entrar e Cadastrar */
.login-form > *, .regsiter-form > * {
    display: block;
    margin-top: .5rem;
}

.form-registration {
    padding: 1em 0;
}

/* Formulário Registro Financeiro */
.form-finance-registry {
    width: auto;
    max-width: 400px;            
    margin: 0 auto;             
}

.form-content {
    display: flex;
    flex-direction: column;             
    margin-bottom: 10px;            
    width: 100%;             
}

textarea {
    width: 100%;             
    max-width: 100%;            
    resize: vertical;             
}

#last-registrations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: gainsboro;
}

.registration-box {
    border: 1px solid black;
    margin: .6em 0;
    max-width: 90%;
    padding: .2em .5em;
}

.form-registration div {
    display: grid;
    margin-bottom: .5em;
}

#last-registrations #entry-registration h3 {
    color: green;
}

#last-registrations #exit-registration h3 {
    color: red;
}