/* Importações */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(reset.css);
@import url(layout.css);

/* Variáveis de Cor */
:root {
    --cor-primaria: #000;
    --cor-secundaria: #fff;
    --cor-acento: #666;
    --cor-texto: ;
    --cor-fundo: ;
}

/* --------------- Início --------------- */
* {
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    padding: 0 .5rem;
}

header a {
    text-decoration: none;
    color: var(--cor-secundaria);
}

header nav a {
    text-decoration: none;
    margin-left: .5rem;
    border: 1px solid var(--cor-secundaria);
    padding: .5rem;
    font-weight: bold;
    border-radius: 8px;
    color: var(--cor-secundaria);
    transition: .5s;
}

header nav a:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    transition: .5s;
}

header ul {
    display: flex;
    list-style: none;
    flex-direction: row;
}

/* --------------- Principal --------------- */
body {
    background-color: #252525;
}

.about-us {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.about-image img {
    width: 100%; 
    border: 5px solid #333;
    border-radius: 10px;
}

.about-content {
    position: relative;
    max-width: 50%;
    background-color: rgba(0, 0, 0, 0.6); /* Fundo semitransparente */
    padding: 2rem;
    border-radius: 8px;
}

.about-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.about-content .about-text {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

/* Adicionando espaçamento ao container principal */
main {
    padding: 2rem; /* Padding para dar espaçamento em relação às bordas do site */
}

/* Funcionalidades */
.functionalities h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
}
.functionalities {
    background-image: url('../../assets/image/image-backgound.png'); 
    background-size: cover; 
    background-position: center; 
    padding: 2rem; 
    border-radius: 20px; /* Bordas arredondadas */
    margin-top: 3rem; /* Margem superior */
    text-align: center; /* Centraliza o texto */
    min-height: 400px; /* Altura mínima para garantir que a imagem preencha a área */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra para um efeito elevado */
}

/* Módulos */


/* Estilos para os módulos */
.modules-list .module {
    background-color: rgba(20, 20, 20, 0.8); /* Fundo semitransparente para melhor legibilidade */
    color: #fff;
    border: none;
    border-radius: 20px; /* Bordas arredondadas para os módulos */
    padding: 10px; /* Padding para espaçamento interno */
    margin-bottom: 10px; /* Margem inferior entre os módulos */
}


/* Entrar e Cadastrar */
.login-form > *, .register-form > * {
    display: block;
    margin-top: .5rem;
}

.form-registration {
    padding: 1em 0;
}

/* Formulário Registro Financeiro */
.form-finance-registry {
    width: auto;
    max-width: 400px;            
    margin: 0 auto;             
}

.form-content {
    display: flex;
    flex-direction: column;             
    margin-bottom: 10px;            
    width: 100%;             
}

textarea {
    width: 100%;             
    max-width: 100%;            
    resize: vertical;             
}

#last-registrations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: gainsboro;
}

.registration-box {
    border: 1px solid black;
    margin: .6em 0;
    max-width: 90%;
    padding: .2em .5em;
}

.form-registration div {
    display: grid;
    margin-bottom: .5em;
}

#last-registrations #entry-registration h3 {
    color: green;
}

#last-registrations #exit-registration h3 {
    color: red;
}
