* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#last-registrations {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.registration-box {
    border: 1px solid black;
    margin: .6em 0;
    max-width: 90%;
}

.form-registration div {
    display: grid;
    margin-bottom: .5em;
}

#last-registrations #entry-registration h2, #last-registrations #entry-registration h3 {
    color: green;
}

#last-registrations #exit-registration h2, #last-registrations #exit-registration h3 {
    color: red;
}